<h1>Cookie Dueler</h1>
<main>
  <h2>Player, please enter your name</h2>
  <form method='post' action='/'>
    <input type="text" name="name" placeholder="Name"></input>
    <input type="submit"></input>
  </form>
</main>
