<!doctype html>
<html>
<head>
  <title>Cookie Dueler</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{{body}}}
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="../socket.io/socket.io.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- <script src = "../public/javascript/app.js"></script> -->
<script>

  $(document).ready(function(){

    var leftCounter = 0;
    var rightCounter = 0;

    var socket = io();

    // Initialize socket emit
    $("#leftCookie").click(function(){
      socket.emit('leftClick')
      return false;
    })

    $("#rightCookie").click(function(){
      socket.emit('rightClick')
      return false;
    })

    //Update DOM after Socket Emit
    socket.on('leftClick', function(){
      leftCounter ++
      $(".leftClickCounter").text(leftCounter)
    })

    socket.on('rightClick', function(){
      rightCounter ++
      $(".rightClickCounter").text(rightCounter)
    })

    socket.on('left wins', function(){
      $("#welcome").text("Left wins")
      $("#leftCookie").attr("width", "300")
    })

    socket.on('right wins', function(){
      $("#welcome").text("Right wins")
      $("#rightCookie").attr("width", "300")
    })

    socket.on('tie', function(){
      $("#welcome").text("Tie")
    })

    //Change cookie size on click
    $("#leftCookie").on("mousedown", function(){
      $("#leftCookie").attr("width", "190")
    })

    $("#leftCookie").on("mouseup", function(){
      $("#leftCookie").attr("width", "200")
    })

    $("#rightCookie").on("mousedown", function(){
      $("#rightCookie").attr("width", "190")
    })

    $("#rightCookie").on("mouseup", function(){
      $("#rightCookie").attr("width", "200")
    })


    $("#refresh").click(function(){
      socket.emit('refresh')
      return false;
    })

    socket.on('refresh', function(){
      leftCounter = 0
      rightCounter = 0
      $(".leftClickCounter").text(0)
      $(".rightClickCounter").text(0)
      countdown.text("10:00")
    })


    var countdown = $("#countdown")

    $("#start").click(function(){
      socket.emit('count down')
      return false;
    })

    socket.on('count down', function(){
      startCountDown()
    })

    var intervalID;
    var secondCounter = 10
    var minuteCounter = 0
    var hundredthSecondCounter = 0

    function startCountDown() {
      clearInterval(intervalID);
      intervalID = setInterval(tick, 10)
    }

    function tick () {
      countdown.text(leadingZero(secondCounter) + ":" + leadingZero(hundredthSecondCounter))

      if (secondCounter === 0 && minuteCounter === 0 && hundredthSecondCounter === 0 ){
        clearInterval(intervalID);
        secondCounter = 10
        countdown.text(leadingZero(secondCounter) + ":" + leadingZero(hundredthSecondCounter))
        if (leftCounter > rightCounter){
          socket.emit('left wins')
        }
        else if (rightCounter > leftCounter){
          socket.emit('right wins')
        }
        else {
          socket.emit('tie')
        }

      }
      if (hundredthSecondCounter === 0 && secondCounter > 0) {
        secondCounter --
        hundredthSecondCounter = 99

      }
      // if (hundredthSecondCounter === 0 && secondCounter === 0) {
      //   minuteCounter --
      //   secondCounter = 59
      //   hundredthSecondCounter = 99
      // }
      hundredthSecondCounter --
    }

    function leadingZero(n){
      return n > 9 ? n : "0" + n;
    }


  })

</script>

</html>
