<h1>Cookie Dueler</h1>
<main>
  <div class="row" id="welcome">
    <h2 >Good luck, {{name}}</h2>
  </div>

  <div class="row">
    <div class="column column-5">
        <p>{{name}}<p>
    </div>
    <div class="column column-2">
      <p>Time</p>
    </div>
    <div class="column column-5">
        <p>Opponenet<p>
    </div>
  </div>


  <div class="row">
    <div class="column column-5">
      <div class="clickCounter">
        <p>0<p>
      </div>
    </div>
    <div class="column column-2">
      <button id="start">Start</button>
    </div>
    <div class="column column-5">
      <div class="opponentClickCounter">
        <p>0<p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column column-5">
      <img src="/images/PerfectCookie.png" width="200" id="cookie"/>
    </div>
    <div class="column column-2" id="countdown">
      <p>01:00:00</p>
    </div>
    <div class="column column-5">
      <img src="/images/PerfectCookie.png" width="200"/>
    </div>
  </div>

</main>
