<script>



</script>


<h1>Cookie Dueler</h1>
<main>
  <div class="row" id="welcome">
    <h2 >Good luck</h2>
  </div>

  <div class="row">
    <div class="column column-5">
        <p id="player1">{{leftName}}<p>
    </div>
    <div class="column column-2">
      <p>Time</p>
    </div>
    <div class="column column-5">
        <p id="player2">{{rightName}}<p>
    </div>
  </div>


  <div class="row">
    <div class="column column-5">
      <div class="leftClickCounter">
        <p>0<p>
      </div>
    </div>
    <div class="column column-2">
      <button id="start">Start</button>
    </div>
    <div class="column column-5">
      <div class="rightClickCounter">
        <p>0<p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column column-5">
      <img src="/images/PerfectCookie.png" width="200" id="leftCookie"/>
    </div>
    <div class="column column-2" id="countdown">
      <p>10:00</p>
    </div>
    <div class="column column-5">
      <img src="/images/PerfectCookie.png" width="200" id="rightCookie"/>
    </div>
  </div>

</main>
